$font-size: clamp(0.9em, 1.2vw, 1.1em);
$button-bg-color: #F9961F;
$archive-bg-color: rgb(87, 87, 87);

.fork {

    .left-content {

        .parts-content {
            height: 100%;
            display: flex;
            flex-direction: column;

            .upper-container {
                height: auto;
                display: flex;
                flex-direction: column;

                .title {
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    border-radius: 5px;
                    color: black;
                    margin-bottom: 15px;
                    text-transform: capitalize;
                    margin: 5px;
                    gap: 10px;
                    // border: 1px solid black;

                    h4 {
                        font-size: 1.2rem;
                        margin: 0;
                    }

                    .back-btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        background-color: $button-bg-color;
                        color: white;
                        border: none;
                        border-radius: 9px;
                        padding: 5px 10px;
                        font-size: $font-size;
                    }
                }

                .bottom {
                    display: flex;

                    // border: 1px solid black;
                    .active,
                    .archive {
                        width: auto;
                        margin: 5px;
                        font-size: $font-size;
                        background-color: #f9f9f9;
                        border: 1px solid #ccc;
                        border-radius: 9px;
                        cursor: pointer;
                        outline: none;
                        transition: background-color 0.2s ease, border-color 0.2s ease;

                        align-items: center;
                        // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

                        &:hover span,
                        &:focus span {
                            text-decoration: underline;
                        }
                    }

                    .archive,
                    .active {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        background-color: $archive-bg-color;
                        color: white;
                        border: none;
                        padding: 0 10px;
                    }

                    .search-bar {
                        flex-grow: 1;
                        margin: 5px;
                        border-radius: 9px;
                        display: flex;
                        align-items: center;

                        input {
                            font-size: $font-size;
                        }
                    }

                    .filter,
                    .sort {
                        width: auto;
                        margin: 5px;
                        font-size: $font-size;
                        background-color: #f9f9f9;
                        border: 1px solid #ccc;
                        border-radius: 9px;
                        padding: 0 10px;
                        cursor: pointer;
                        outline: none;
                        transition: background-color 0.2s ease, border-color 0.2s ease;
                        align-items: center;
                        // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

                        &:hover,
                        &:focus {
                            background-color: #fff;
                            border-color: #888;
                        }

                        &:active {
                            background-color: #e6e6e6;
                        }

                        .button-icon {
                            height: 20px;
                            width: 20px;
                        }
                    }
                }

            }

            .middle-container {
                height: auto;
                // border: 1px solid black;

                .middle-content {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .title {
                        width: auto;
                        padding: 5px;
                        align-items: center;
                        font-size: 0.9rem;
                        font-weight: 600;
                        margin: 5px;
                        display: flex;
                        justify-content: center;
                        border-radius: 100px;
                        border: solid 1px #ccc;
                        background-color: #f9f9f9;

                        .icon {
                            height: 20px;
                            width: 20px;
                        }
                    }

                    .dropdown {
                        width: auto;
                        padding: 5px;
                        margin: 5px;
                        font-size: 0.9rem;
                        background-color: #f9f9f9;
                        border: 1px solid #ccc;
                        border-radius: 9px;
                        cursor: pointer;
                        outline: none;
                        transition: background-color 0.2s ease, border-color 0.2s ease;

                        &:hover,
                        &:focus {
                            background-color: #fff;
                            border-color: #888;
                        }

                        option {
                            font-size: 14px;
                        }
                    }

                    .btn {
                        width: 5%;
                        margin: 5px;
                        background-color: #f9f9f9;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        cursor: pointer;
                        outline: none;
                        transition: background-color 0.2s ease, border-color 0.2s ease;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

                        &:hover,
                        &:focus {
                            background-color: #fff;
                            border-color: #888;
                        }

                        &:active {
                            background-color: #e6e6e6;
                        }

                        img {
                            height: 16px;
                            width: 16px;
                        }
                    }
                }
            }

            .lower-container {
                flex-grow: 1;
                overflow-y: auto;
                // border: 1px solid black;

                .lower-content {
                    height: 100%;
                    overflow-y: auto;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;

                    .no-items-message {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        font-size: 1rem;
                        text-align: center;
                        color: #888;

                        p {
                            // border: 1px solid black;
                            margin: auto 0;
                        }
                    }

                    .item-container {
                        width: 100%;
                        height: 390px;
                        cursor: pointer;
                        display: flex;
                        flex-direction: column;
                        padding: 5px;

                        @media screen and (min-width: 900px) {
                            width: 50%;
                        }

                        .content {
                            overflow: hidden;
                            border-radius: 10px;
                            border: solid 1px #AAAAAA;

                            .item-image {
                                width: 100%;
                                height: 55%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: 15px;

                                img {
                                    object-fit: contain;
                                    max-width: 100%;
                                    max-height: 100%;
                                    // filter: grayscale(100%);
                                }

                                .no-image {
                                    font-size: $font-size;
                                }
                            }

                            .details {
                                height: 45%;
                                width: 100%;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                flex-direction: column;
                                background-color: $archive-bg-color;
                                color: #fff;
                                padding: 15px;

                                .item-name,
                                .item-price {
                                    font-size: $font-size;
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    width: 100%;
                                    text-align: center;
                                }

                                .item-name {
                                    font-weight: 600;
                                    font-size: 1.1rem;
                                }

                                .review {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: flex-start;
                                    align-items: flex-start;
                                    gap: 10px;
                                    margin-top: 10px;
                                    margin-bottom: 10px;
                                    margin-right: auto;

                                    .rate {
                                        display: flex;
                                        gap: 5px;
                                        align-items: center;

                                        p {
                                            span {
                                                color: #c5c5c5;
                                                font-size: 0.85rem;
                                                font-weight: 500;
                                            }
                                        }
                                    }

                                    p {
                                        margin: 0;
                                    }

                                    button {
                                        background-color: #2E2E2E;
                                        color: white;
                                        padding: 5px 20px;
                                        border-radius: 10px;
                                        cursor: pointer;
                                        text-decoration: none;
                                        border: none;
                                        color: #F9961F;
                                        text-transform: uppercase;

                                        &:hover {
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .no-item {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 1rem;
                        color: #888;
                    }
                }
            }
        }
    }

    .right-content {

        .form-container {
            height: 100%;
            padding: 5px;
            overflow: hidden;
            display: flex;
            flex-direction: column;

            .form-content {
                flex-grow: 1;
                overflow-y: auto;
                padding-right: 10px;

                .container-1 {
                    height: auto;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;

                    h4 {
                        margin: 0;
                    }

                    .btns {
                        display: flex;
                        flex-direction: row-reverse;
                        align-items: center;
                        gap: 10px;

                        .exit-btn {
                            img {
                                height: 20px;
                                width: 20px;
                                cursor: pointer;
                            }
                        }

                        .del-btn {
                            img {
                                height: 20px;
                                width: 20px;
                                cursor: pointer;
                            }
                        }

                        .edit-btn {
                            img {
                                height: 20px;
                                width: 20px;
                                cursor: pointer;
                            }
                        }
                    }
                }

                .item-image {
                    height: 250px;
                    width: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #ccc;
                    border-radius: 9px;
                    flex: 1;
                    margin: 0 auto;

                    img {
                        object-fit: contain;
                        // filter: grayscale(100%);
                    }

                    .no-image {
                        font-size: $font-size;
                    }
                }

                .no-image-container {
                    padding: 10px;
                    border: 1px solid #ccc;
                    text-align: center;
                    border-radius: 9px;
                    border-style: dashed;

                }

                .upload-container {
                    height: 20%;
                }
                
                .error-message {
                    color: #cb2020;
                    font-size: 1rem;
                    margin: 15px 0;
                    padding: 10px 0;
                    text-align: center;
                    background-color: #ff5a5a45;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    p {
                        margin: 0;
                    }
                }

                .input-container {
                    height: auto;
                    align-content: center;

                    label {
                        display: block;
                        font-size: 0.9rem;
                        color: #393939;
                        margin-bottom: 8px;
                        font-weight: 500;
                    }

                    input,
                    textarea {
                        height: auto;
                        width: 100%;
                        padding: 8px;
                        font-size: 0.9rem;
                        border: 1px solid #ddd;
                        border-radius: 10px;
                    }

                    margin: 10px 0;
                }

                .dropdown-container {
                    height: auto;
                    padding: 10px 0;
                    gap: 20px;

                    .title {
                        font-weight: 500;
                        font-size: 0.9rem;
                        width: 50%;
                        display: flex;
                        align-items: center;
                    }

                    .dropdown {
                        align-self: center;
                        height: 30px;
                        width: 50%;
                        padding: 5px;
                        font-size: 0.9rem;
                        background-color: #f9f9f9;
                        border: 1px solid #ccc;
                        border-radius: 9px;
                        cursor: pointer;
                        outline: none;
                        transition: background-color 0.2s ease, border-color 0.2s ease;

                        &:hover,
                        &:focus {
                            background-color: #fff;
                            border-color: #888;
                        }

                        option {
                            font-size: 14px;
                        }
                    }
                }

                .submit-container {
                    height: auto;
                    align-content: end;
                    margin-bottom: 20px;

                    .submit-btn {
                        height: 100%;
                        width: 100%;
                        font-size: 1rem;
                        padding: 5px 0;
                        background-color: $button-bg-color;
                        border: none;
                        border-radius: 9px;
                        color: white;
                        cursor: pointer;
                        outline: none;
                        transition: background-color 0.2s ease, border-color 0.2s ease;
                        align-items: center;
                        // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

                        &:hover,
                        &:focus {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .no-selection {
            display: flex;
            flex-direction: column;
            color: black;

            h4 {
                font-weight: 700;
            }
        }

    }
}

.parts-content-close {
    display: none;
}