$button-bg-color: #F9961F;

.login-pos {

    .go-back {
        cursor: pointer;
        text-transform: uppercase;
        font-size: 1rem;
        color: $button-bg-color;

        &:hover {
            text-decoration: underline;
        }
    }

    .intro{
        padding-left: 0;
    }

    .select-pos{
        padding: 0px 10px;
    }

    .form-group {
        margin-bottom: 10px;

        .pos_name {
            display: flex;
            flex-direction: column;
            text-align: center;

            i {
                font-size: 3rem;
            }

            p {
                margin-top: 5px;
                font-size: 1rem;
                font-weight: 700;
            }
        }

        label {
            display: block;
            margin-bottom: 8px;
            font-size: 0.9rem;
            font-weight: 500;
            color: #2b2b2b;
        }

        input {
            width: 100%;
            padding: 10px;
            font-size: 0.9rem;
            border: 1px solid #ddd;
            border-radius: 9px;
        }
    }


    .pos-1{
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        font-size: 1rem;
        text-align: left;
        background-color: white;
        border: 1px solid #ddd;
        color: #2b2b2b;
        border-radius: 9px;
        cursor: pointer;

        &:hover {
            border: 1px solid $button-bg-color;
            color: $button-bg-color;
            text-decoration: underline;
        }
    }

    .submit-btn {
        width: 100%;
        margin-top: 10px;
        padding: 8px;
        font-size: 0.9rem;
        background-color: $button-bg-color;
        color: #ffffff;
        border: none;
        border-radius: 9px;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    .toggle-text {
        text-align: left;
        margin-top: 10px;
        font-size: 1rem;
        color: $button-bg-color;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .loading {
        text-align: center;
        padding: 20px 0;

        i{
            font-size: 2rem;
            color: #9C9B9B;
        }
    }
}