body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// * {
//     font-family: 'Inter';
//     letter-spacing: -.7px;
// }

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Oxanium:wght@200..800&display=swap');

* {
    font-family: 'Bai Jamjuree';
    letter-spacing: -.7px;
}