.auth-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    background-color: #D9D9D9;

    .auth-container {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        width: 100%;
        max-width: 1000px;

        .left-container {
            border-radius: 20px 0 0 20px;

            h1 {
                text-align: left;
                margin-bottom: 20px;
                font-weight: 800;
            }

            .error-msg {
                color: #cb2020;
                font-size: 1rem;
                margin-top: 15px;
                padding: 10px 0;
                text-align: center;
                background-color: #ff5a5a45;
                border-radius: 5px;
                
            }
        }

        .right-container {
            border-radius: 0 20px 20px 0;
            background-color: #9C9B9B;
        }
    }
}

@media screen and (max-width: 768px) {
    .auth-layout {
        padding: 10px;
    }

    .auth-container {
        flex-direction: column;
    }

    .left-container {
        border-radius: 20px !important;
    }

    .right-container {
        display: none;
    }
}