$normal-bg-color: #f8f9fa;
$normal-border-color: #dee2e6;
$active-bg-color: white;
$active-text-color: rgb(65, 65, 65);
$error-border-color: #ce6868;
$inactive-text-color: grey;
$qty-bg-color: #a3a3a3;
$qty-text-color: white;
$button-bg-color: #9e9e9e;
$subheading-text-color: #606060;
$font-size: clamp(0.9em, 1.2vw, 1.1em);
$button-success: #9C9B9B;
$button-fail: #dee2e6;

.pos-users{

    .status-tabs {
        button {
            padding: 10px 15px;
            font-size: 1em;
            background-color: #9C9B9B;
            color: #ffffff;
            border: none;
            border-radius: 7px;
            cursor: pointer;
        
            &:hover {
                background-color: #B0B0B0;
            }
        }
    }

    .left-content{
        .pos-users-container{
            display: flex;
            flex-direction: column;
            height: 100%;
        
            .pos-users-nav{
                height: auto;
                display: flex;
                flex-direction: row;
                gap: 5px;
                
                .search-sorting {
                    display: flex;
                    margin-bottom: 15px;
                    flex-grow: 1;
            
                    .search-bar {
                        background-color: $normal-bg-color;
                        border: 1px solid $normal-border-color;
                        display: flex;
                        align-items: center;
                        border-radius: 7px;
                        padding: 3px;
                        flex-grow: 1;
            
                        input {
                            width: 100%;
                            border-radius: 5px;
                            // border: 1px solid $normal-border-color;
                            padding: 5px 10px;
                            font-size: $font-size;
                        }
                    }
                }

                .add-pos-user {
                    width: 20%;
                    margin-bottom: 15px;
                    padding: 5px;
                    font-size: 1em;
                    background-color: #9C9B9B;
                    color: #ffffff;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;

                    &:hover {
                        background-color: #B0B0B0;
                    }

                    &.error {
                        cursor: not-allowed;
                        background-color: #d0a2a2;
                        text-align: center;
                    }
                }
            }

            .columns{
                height: auto;
                display: flex;
                // justify-content: space-between;
                border: 1px solid $normal-border-color;
                margin-bottom: 10px;
                padding: 5px 10px;
                border-radius: 4px;
                text-transform: uppercase;
                font-size: 0.9em;

                p{
                    margin: 0;
                    color: $subheading-text-color;
                    // border: 1px solid black;
                    width: 33.3%;
                    
                    &:nth-child(3){
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
            
            .list {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                overflow-y: auto !important;
                
                .empty-list {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    font-size: 1rem;
                    color: $subheading-text-color;
                }
                
                .list-item {
                    margin-bottom: 9px;
                    border-radius: 4px;
                    padding: 10px;
                    background-color: $normal-bg-color;
                    border: 1px solid $normal-border-color;
                    width: 100%;
                    cursor: pointer;
                    font-size: $font-size;
                    
                    .list-item-content {
                        display: flex;
                        // justify-content: space-between;
                        flex-direction: row;
                        align-items: center;
                        // border: 1px solid black;
                        
                        p {
                            // border: 1px solid black;
                            margin: 0;
                            width: 33.3%;
                        }

                        .inactive{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 30px;
                            width: 20%;
                            margin: 0 auto;
                            border-radius: 3px;
                            background-color: #DA7777;
                            color: white;
                            font-size: 0.9rem;
                            text-transform: capitalize;
                        }
                        
                        .active{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 30px;
                            width: 20%;
                            margin: 0 auto;
                            border-radius: 3px;
                            background-color: #77DA87;
                            color: white;
                            font-size: 0.9rem;
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }

    .right-content{
        .pos-user-details-container{
            .pos-user-nav {
                display: flex;
                justify-content: space-between;
                align-items: center;
        
                h4 {
                    font-weight: 700;
                }
        
                i {
                    cursor: pointer;
                    color: grey;
                }
        
                i:hover {
                    color: black;
                }
        
                .edit-nav {
                    i:nth-child(1) {
                        margin-right: 10px;
                    }
                }
            }

            .updated{
                margin-top: 10px;
                text-align: left;
                font-style: italic;
            }
            
            .guide{
                margin-top: 10px;
                text-align: left;
                font-style: italic;
                padding: 5px;
                border-radius: 10px;
                border: 1px solid #dee2e6;
                background-color: white;

                ul{
                    margin: 0;
                }
            }

            .change{
                display: flex;
                flex-direction: row;
                margin: 15px 0 0 0;
                width: 100%;
                padding: 10px;
                font-size: 0.9rem;
                border: 1px solid #ddd;
                border-radius: 5px;
                justify-content: space-between;
                cursor: pointer;

                p{
                    margin: 0;
                }
            }

            form {
                display: flex;
                flex-direction: column;

                .form-input {
                    display: flex;
                    flex-direction: column;
                    margin: 10px 0 0 0;

                    label {
                        font-size: 1em;
                        margin: 5px 0;
                    }

                    input {
                        width: 100%;
                        padding: 10px;
                        font-size: 0.9rem;
                        border: 1px solid #ddd;
                        border-radius: 5px;
                    }

                    .error {
                        color: red;
                        margin: 2px;
                        margin-bottom: 0px;
                        font-size: 0.9rem;
                    }

                    .success {
                        color: green;
                        margin: 2px;
                        margin-bottom: 0px;
                        font-size: 0.9rem;
                    }

                    .upload-image {
                        padding: 20px 10px;
                        border: 2px dashed #ddd;
                        border-radius: 5px;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 100%;
                        text-align: center;
                        cursor: pointer;

                        .title,
                        .subtitle,
                        i {
                            margin: auto 0;
                        }

                        .title {
                            font-weight: 700;
                        }

                        .subtitle {
                            font-size: 0.9em;
                            color: #B0B0B0;
                        }

                        &:hover {
                            background-color: #f9f9f9;
                        }
                    }

                    .img-preview {
                        padding: 10px;
                        border: 1px solid #ddd;
                        border-radius: 5px;
                        width: 100%;
                        display: flex;
                        flex-direction: column;

                        img {
                            object-fit: cover;
                            height: 25svh;
                            width: 100%;
                            margin: 0 auto;
                            cursor: pointer;
                        }

                        .remove-img {
                            width: 100%;
                            margin-top: 10px;
                            padding: 8px;
                            font-size: 1em;
                            background-color: rgb(217, 87, 87);
                            color: #ffffff;
                            border: none;
                            border-radius: 5px;
                            cursor: pointer;

                            &:hover {
                                background-color: #953b3b;
                            }
                        }
                    }

                }

                .show-password{
                    display: flex;
                    align-self: start;
                    height: fit-content;
                    margin-top: 10px;
                    margin-bottom: 0px;

                    input{
                        width: 10%;
                        margin-right: 10px;
                    }
                    
                    span{
                        width: 100%;
                    }

                }

                .submit-btn {
                    width: 100%;
                    margin-top: 30px;
                    padding: 8px;
                    font-size: 1em;
                    background-color: #9C9B9B;
                    color: #ffffff;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;

                    &:hover {
                        background-color: $button-success;
                    }

                    &.error {
                        cursor: not-allowed;
                        background-color: $button-fail;
                        text-align: center;
                    }
                }
            }
            .submit-btn {
                width: 100%;
                margin-top: 50px;
                padding: 8px;
                font-size: 1em;
                background-color: #9C9B9B;
                color: #ffffff;
                border: none;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    background-color: $button-success;
                }

                &.error {
                    cursor: not-allowed;
                    background-color: $button-fail;
                    text-align: center;
                }
            }
        }
    }
}