.waitlist {

    .left-content {

        .waitlist-content {
            height: 100%;

            .upper-container {
                height: 7%;

                .search-bar {
                    width: 90%;
                    margin: 5px;
                }

                .filter,
                .sort {
                    width: 5%;
                    margin: 5px;
                    font-size: 12px;
                    background-color: #f9f9f9;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    cursor: pointer;
                    outline: none;
                    transition: background-color 0.2s ease, border-color 0.2s ease;

                    align-items: center;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

                    &:hover,
                    &:focus {
                        background-color: #fff;
                        border-color: #888;
                    }

                    &:active {
                        background-color: #e6e6e6;
                    }

                    .button-icon {
                        height: 20px;
                        width: 20px;
                    }
                }
            }

            .lower-container {
                height: 93%;
                padding: 5px;
                border-radius: 20px;

                .lower-content {
                    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.1);
                    border-radius: 20px;
                    height: 100%;
                }
            }
        }
    }
}