$normal-bg-color: #f8f9fa;
$normal-border-color: #dee2e6;
$active-bg-color: white;
$active-text-color: rgb(65, 65, 65);
$error-border-color: #ce6868;
$inactive-text-color: grey;
$qty-bg-color: #a3a3a3;
$qty-text-color: white;
$button-bg-color: #9e9e9e;
$subheading-text-color: #606060;
$font-size: clamp(0.9em, 1.2vw, 1.1em);
$button-success: #9C9B9B;
$button-fail: #dee2e6;

.dashboard {
    height: calc(100svh - 70px);

    .left-container {
        height: 100%;
        width: 55%;

        .upper-container {
            height: 40%;

            .left-content {
                height: 100%;
                width: 50%;

                .content {
                    height: 50%;

                    .cards {
                        height: 100%;
                        width: 50%;
                        padding: 16px 0 0 16px;

                        .cards-content {
                            border: solid 1px $normal-border-color;
                            border-radius: 15px;
                            height: 100%;
                            justify-items: center;
                            align-content: center;

                            h2 {
                                font-weight: 800;
                            }

                            h6 {
                                font-weight: 300;
                            }
                        }
                    }
                }
            }

            .right-content {
                height: 100%;
                width: 50%;
                padding: 16px 16px 0 16px;

                .content {
                    border: solid 1px $normal-border-color;
                    height: 100%;
                    border-radius: 15px;

                    .leaderboard {
                        height: 100%;
                        padding: 20px;
                        display: flex;
                        flex-direction: column;

                        .no-records {
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                        }

                        .nav {
                            display: flex;
                            justify-content: space-between;
                            height: auto;
                            margin: 10px 0;

                            h4 {
                                margin: 0;
                                font-size: 1.2em;
                                font-weight: 700;
                                text-align: left;
                            }

                            select {
                                border: none;
                                text-align: right;
                                outline: none;
                            }
                        }

                        .columns {
                            height: auto;
                            display: flex;
                            padding: 5px 0;
                            text-transform: uppercase;
                            color: grey;

                            .rank {
                                width: 20%;
                                text-align: left;
                                border-radius: 4px;
                            }

                            .name {
                                width: 70%;
                            }

                            .count {
                                width: 20%;
                                margin-left: auto;
                            }
                        }

                        .list {
                            flex-grow: 1;
                            overflow-y: auto;
                            scrollbar-width: none;

                            .item {
                                display: flex;
                                border: 1px solid #dee2e6;
                                border-radius: 4px;
                                background-color: white;
                                margin: 10px 0;
                                padding: 2% 2%;
                                gap: 9%;

                                .rank {
                                    width: 10%;
                                    text-align: center;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    border-radius: 4px;
                                    position: relative;
                                    display: inline-block;

                                    p {
                                        position: relative;
                                        z-index: 1;
                                        margin: 0;
                                        color: white;
                                    }

                                    i {
                                        position: absolute;
                                        top: 0;
                                        left: 50%;
                                        transform: translateX(-50%);
                                        z-index: 0;
                                        font-size: 1.5em; // Adjust size as needed
                                    }
                                }

                                &:nth-child(1) {
                                    padding: 4% 2%;
                                }

                                &:nth-child(1) .rank {
                                    color: #ffd700;
                                }

                                &:nth-child(2) .rank {
                                    color: #c0c0c0;
                                }

                                &:nth-child(3) .rank {
                                    color: #cd7f32;
                                }

                                .name {
                                    width: 70%;
                                }

                                .count {
                                    width: 20%;
                                    text-align: right;
                                }
                            }
                        }
                    }
                }
            }


        }

        .lower-container {
            height: 60%;
            padding: 16px;

            .content {
                border: solid 1px $normal-border-color;
                border-radius: 15px;
                height: 100%;
                padding: 20px;

                h3{
                    font-weight: 700;
                    height: 10%;
                }
                .canvas{
                    width: 100% !important;
                    height: 90% !important;
                    padding: 10px;
                }
                
            }
        }
    }

    .right-container {
        height: 100%;
        width: 45%;

        .containers {
            height: 100%;
            padding: 16px 16px 16px 0;

            .content {
                border: solid 1px $normal-border-color;
                border-radius: 15px;
                height: 100%;

                .summary-content {
                    padding: 20px;
                    height: 100%;

                    .title {
                        height: 6%;

                        h3 {
                            font-size: 1.5em;
                            font-weight: 700;
                            margin: 0;
                        }
                    }

                    .upper-content {
                        height: 45.5%;
                        padding-bottom: 10px;

                        .main-content {
                            border: solid 1px $normal-border-color;
                            border-radius: 15px;
                            padding: 20px;
                            height: 100%;

                            .header {
                                display: flex;
                                justify-content: space-between;

                                h5 {
                                    font-weight: 700;
                                }

                                select {
                                    padding: 3px;
                                    width: fit-content;
                                    background-color: $normal-bg-color;
                                    border: 1px solid $normal-border-color;
                                    font-size: $font-size;
                                    border-radius: 7px;
                                    margin-right: 10px;
                                }
                            }

                            .date {
                                margin-bottom: 20px;
                            }

                            .four {
                                display: flex;
                                flex-direction: column;
                                margin-top: 10px;

                                .green,
                                .red,
                                .net {
                                    display: flex;
                                    justify-content: space-between;
                                    margin: 3px 15px;
                                    font-size: .9em;

                                    p {
                                        margin: 0;
                                    }

                                    .right {
                                        text-align: right;

                                    }
                                }

                                .green,
                                .red {
                                    .left {
                                        color: grey;
                                    }
                                }

                                .green {
                                    .right {
                                        color: green;
                                    }
                                }

                                .red {
                                    .right {
                                        color: red;
                                    }
                                }

                                .net {
                                    border-top: 2px solid #dee2e6;
                                    margin-top: 10px;
                                    padding-top: 10px;

                                    .left,
                                    .right {
                                        font-size: 1.2em;
                                    }

                                    .right {
                                        font-weight: 700;

                                        &.green {
                                            color: green;
                                        }

                                        &.red {
                                            color: red;
                                        }
                                    }
                                }
                            }

                            .message {
                                background-color: $normal-bg-color;
                                border: 1px solid $normal-border-color;
                                text-align: center;
                                border-radius: 7px;

                                p {
                                    margin: 0;
                                }
                            }
                        }

                    }


                    .lower-content {
                        height: 48.5%;
                        padding-top: 10px;

                        .main-content {

                            height: 100%;

                            .no-records {
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                text-align: center;
                            }

                            .list {
                                height: 100%;
                                overflow-y: auto;
                                scrollbar-width: none;


                                .list-item {
                                    display: flex;
                                    // gap: 10px;
                                    margin-bottom: 9px;
                                    border-radius: 4px;
                                    padding: 7px 10px;
                                    background-color: $normal-bg-color;
                                    border: 1px solid $normal-border-color;
                                    font-size: .9em;
                                    cursor: pointer;

                                    div {
                                        // border: 1px solid black;

                                        p,
                                        i {
                                            margin: 0;
                                        }

                                        i {
                                            font-size: 1em;
                                            padding: 2px;
                                            width: 20px;
                                        }
                                    }

                                    .left,
                                    .right {
                                        display: flex;
                                    }

                                    .left {
                                        width: 25%;
                                        gap: 20px;
                                    }

                                    .mid {
                                        width: 35%;
                                        font-weight: 700;
                                    }

                                    .right {
                                        width: 40%;
                                        gap: 20px;

                                        p {
                                            text-align: right;

                                            &:nth-child(1) {
                                                width: 45%;
                                            }

                                            &:nth-child(2) {
                                                width: 55%;
                                            }
                                        }

                                        .amount {
                                            padding: 1px 10px;
                                            background-color: $button-success;
                                            border-radius: 4px;
                                            text-align: center;
                                            color: white;
                                        }

                                        .date {
                                            margin-left: auto;
                                        }
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}