.upper-nav {
    background-color: white !important;
    border: 1px solid #dee2e6;
    flex: 1;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 18px 15px 0px 15px;
    border-radius: 10px;
    
    .title{
        font-size: 1.2rem;
        font-weight: 700 !important;
    }
    
    .user-profile {
        margin: 0;
        justify-content: space-between;
        align-items: center;
        
        .username{
            display: flex;
            align-items: center;
            font-size: 1rem;
            gap: 10px;
            cursor: pointer;

            p{
                margin: 0;
            }
        }
    }
}