.landing-page {
    position: relative;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    background-image: url('../../assets/images/landing-image.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    // padding: 6rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // &::before {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-color: rgba(0, 0, 0, 0.1);
    //     z-index: 0;
    // }

    .content{
        padding: 0 6rem;

        .text{
            display: flex;
            flex-direction: column;
            padding: 4rem 0;

            h1 {
                font-size: 4rem;
                // font-family: "poppins";
                color: white !important;
                text-align: justify;
            }

            p {
                font-size: 1.2rem;
                position: relative;
                color: white !important;
                font-weight: normal;
                width: 50%;
                text-wrap: pretty;
                text-align: justify;
            }
        }

        .btns{
            display: flex;
            gap: 1rem;

            .btn-1, .btn-2{
                padding: 0.5rem 1rem;
                border: none;
                color: white;
                font-size: 1rem;
                // font-weight: bold;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                border-radius: 10px;
            }

            .btn-1{
                background-color: #F9961F;
            }

            .btn-2{
                background-color: #2e2e2e;
            }
        }
    }

    .end {
        margin-top: auto;
        text-align: center;
        font-size: 1rem;

        p{
            color: rgb(138, 138, 138) !important;
        }
    }

}


@media screen and (max-width: 768px) {
    .landing-page {
        background-position: 20% 50%;
        justify-content: center;
        // align-items: center;
        text-align: center !important;

        .content{
            padding: 0 2rem;

            .text{
                h1{
                    margin-top: auto;
                    font-size: 2rem;
                    text-align: center !important;
                }
        
                p{
                    font-size: 0.8rem;
                    width: 100%;
                    text-align: center !important;
                }
            }

            .btns{
                flex-direction: column;
                
                .btn-1, .btn-2{
                    font-size: 0.8rem;
                }
            }
        }

        .end{
            p{
                font-size: 0.8rem;
            }
        }
    }
}