.inventory {

    .left-content {

        .inventory-content {
            height: 100%;

            .upper-container {
                height: 7%;

                .add-btn {
                    width: 15%;
                    margin: 5px;
                    font-size: 12px;
                    background-color: #f9f9f9;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    cursor: pointer;
                    outline: none;
                    transition: background-color 0.2s ease, border-color 0.2s ease;

                    align-items: center;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

                    &:hover,
                    &:focus {
                        background-color: #fff;
                        border-color: #888;
                    }

                    &:active {
                        background-color: #e6e6e6;
                    }
                }

                .search-bar {
                    width: 75%;
                    margin: 5px;
                }

                .filter,
                .sort {
                    width: 5%;
                    margin: 5px;
                    font-size: 12px;
                    background-color: #f9f9f9;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    cursor: pointer;
                    outline: none;
                    transition: background-color 0.2s ease, border-color 0.2s ease;

                    align-items: center;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

                    &:hover,
                    &:focus {
                        background-color: #fff;
                        border-color: #888;
                    }

                    &:active {
                        background-color: #e6e6e6;
                    }

                    .button-icon {
                        height: 20px;
                        width: 20px;
                    }
                }
            }


            .lower-container {
                height: 93%;
                padding: 5px;
                border-radius: 20px;
                overflow: hidden;

                .lower-content {
                    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.1);
                    border-radius: 20px;
                    height: calc(100vh - 220px);
                    padding: 24px;
                    overflow-y: auto;
                    display: block;

                    .item-container {
                        box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.1);
                        width: 100%;
                        margin-bottom: 10px;
                        height: 40px;
                        border-radius: 5px;
                    }
                }
            }
        }
    }

    .right-content {


        .inventory-containers {
            height: 100%;


            .container-content {
                height: 25%;
                padding: 5px;

                .main-content {
                    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.1);
                    border-radius: 20px;
                    height: 100%;
                    padding: 24px;

                }
            }

        }


        .form-container {
            height: 100%;
            padding: 5px;

            .form-content {
                height: 100%;
                box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.1);
                padding: 24px;
                border-radius: 20px;

                .container-1 {
                    height: 5%;
                    width: 100%;

                    .exit-btn {
                        width: 70%;
                        display: flex;
                        justify-content: start;

                        .exit-icon {
                            height: 20px;
                            width: 20px;
                            cursor: pointer;
                        }
                    }

                    .edit-btn {
                        width: 15%;
                        display: flex;
                        justify-content: end;

                        .edit-icon {
                            height: 20px;
                            width: 20px;
                            cursor: pointer;
                        }

                    }

                    .del-btn {
                        width: 15%;
                        display: flex;
                        justify-content: end;

                        .del-icon {
                            height: 20px;
                            width: 20px;
                            cursor: pointer;
                        }

                    }
                }


                .item-name,
                .item-price {
                    height: 8%;
                    align-content: center;

                    label {
                        display: block;
                        font-size: 12px;
                        color: #555;
                        margin-bottom: 5px;
                    }

                    input {
                        width: 100%;
                        padding: 5px;
                        font-size: 12px;
                        border: 1px solid #ddd;
                        border-radius: 5px;
                    }
                }

                .stock-container {
                    height: 8%;

                    .title,
                    .count {
                        font-size: 12px;
                        display: flex;
                        align-items: center;
                    }

                    .count-input {
                        font-size: 12px;
                        height: 30px !important;
                        width: 120px;
                        border: 1px solid #ddd;
                        border-radius: 5px;
                        align-self: center;
                    }

                    .stock-btn {
                        align-self: center;
                        height: 30px;
                        width: 40%;
                        font-size: 12px;
                        background-color: #f9f9f9;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        cursor: pointer;
                        outline: none;
                        transition: background-color 0.2s ease, border-color 0.2s ease;
                        align-items: center;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

                        &:hover,
                        &:focus {
                            background-color: #fff;
                            border-color: #888;
                        }

                        &:active {
                            background-color: #e6e6e6;
                        }
                    }
                }


                .category-container,
                .soldby-container {
                    height: 8%;

                    .title {
                        font-size: 12px;
                        display: flex;
                        align-items: center;
                    }

                    .dropdown {
                        align-self: center;
                        height: 30px;
                        width: 40%;
                        padding: 5px;
                        font-size: 12px;
                        background-color: #f9f9f9;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        cursor: pointer;
                        outline: none;
                        transition: background-color 0.2s ease, border-color 0.2s ease;

                        &:hover,
                        &:focus {
                            background-color: #fff;
                            border-color: #888;
                        }

                        option {
                            font-size: 14px;
                        }
                    }
                }

                .low-stock-container,
                .bbu-container {
                    height: 8%;

                    .title {
                        font-size: 12px;
                        display: flex;
                        align-items: center;
                    }

                    .switch {
                        display: flex;
                        align-items: center;
                    }
                }

                .low-stock-threshold {
                    height: 5%;
                    align-content: center;

                    label {
                        display: block;
                        font-size: 12px;
                        color: #555;
                        margin-bottom: 5px;
                    }

                    input {
                        width: 100%;
                        padding: 5px;
                        font-size: 12px;
                        border: 1px solid #ddd;
                        border-radius: 5px;
                    }
                }

                .bike-part-container {
                    height: 5%;

                    .title {
                        font-size: 12px;
                        display: flex;
                        align-items: center;
                    }

                    .dropdown {
                        align-self: center;
                        height: 30px;
                        width: 40%;
                        padding: 5px;
                        font-size: 12px;
                        background-color: #f9f9f9;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        cursor: pointer;
                        outline: none;
                        transition: background-color 0.2s ease, border-color 0.2s ease;

                        &:hover,
                        &:focus {
                            background-color: #fff;
                            border-color: #888;
                        }

                        option {
                            font-size: 14px;
                        }
                    }
                }


                .upload-container {
                    height: 24%;
                }

                .submit-btn {
                    align-self: center;
                    height: 5%;
                    width: 100%;
                    font-size: 12px;
                    background-color: #f9f9f9;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    cursor: pointer;
                    outline: none;
                    transition: background-color 0.2s ease, border-color 0.2s ease;
                    align-items: center;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

                    &:hover,
                    &:focus {
                        background-color: #fff;
                        border-color: #888;
                    }

                    &:active {
                        background-color: #e6e6e6;
                    }
                }

            }
        }


    }
}