.staff-wrapper {
    display: flex;
    height: 100svh;

    .side-nav {
        width: 250px;
        border-right: 1px solid #dee2e6;
        height: 100%;
    }

    .nav {
        position: sticky;
        top: 0;
    }

    .menu-nav {
        display: none;
    }

    .content {
        flex: 1;
        background-color: rgba(242, 242, 242, 0.356);
    }

    .menu-button {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .staff-wrapper {
        flex-direction: column;
        height: 100svh;
    }

    .side-nav-bg {
        display: none;
    }

    .nav {
        z-index: 1;
    }

    .menu-nav {
        display: flex !important;
        height: 100vh;
    }

    .upper-nav{
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
        border-left: none;
        padding: 30px !important;
    }

    .menu-button {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        padding-left: 16px !important;
        background-color: white !important; // Light gray background
        border-bottom: 1px solid #dee2e6;
        cursor: pointer;
    }
}