.nav-bar {
    width: 100vw;

    .upper-nav {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 10px;
        padding-left: 100px;
        background-color: #F9961F;
        
        .nav-link {
            text-decoration: none;
            font-size: 1rem;
            color: #573103;
            font-weight: 500;
            text-transform: uppercase;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .lower-nav {
        color: white;
        display: flex;
        align-items: center;
        gap: 3rem;
        padding: 20px;
        font-family: "Poppins";
        padding-left: 100px;
        padding-right: 100px;
        // height: 100px;
        background-color: #171717;

        h2 {
            margin: 0;
            font-family: 'Cooper Black';
            color: #ededed;
        }

        .nav-link {
            text-decoration: none;
            font-size: 20px;
            color: white;
            padding: 5px 10px;
            border-radius: 10px;

            &:hover {
                background-color: #F9961F;
                border-radius: 10px;
            }
        }

        .add-to-cart {
            position: relative;
            /* Set the button to relative for absolute positioning of the badge */
            border-radius: 50px;
            padding: 15px;
            border: none;
            cursor: pointer;
            outline: none;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            background-color: #ffffffe2;
        }

        .add-to-cart img {
            height: 20px;
            width: 20px;
            align-self: center;
        }

        .notification-badge {
            position: absolute;
            /* Position the badge absolutely */
            top: -5px;
            /* Adjust this value to position it above the icon */
            right: -5px;
            /* Adjust this value to position it to the right */
            background-color: red;
            /* Background color for the badge */
            color: white;
            /* Text color */
            border-radius: 50%;
            /* Make it circular */
            width: 20px;
            /* Width of the badge */
            height: 20px;
            /* Height of the badge */
            display: flex;
            /* Center the text */
            align-items: center;
            /* Center vertically */
            justify-content: center;
            /* Center horizontally */
            font-size: 12px;
            /* Font size */
            font-weight: bold;
            /* Bold text */
        }
    }
}