.nav-bar {
    width: 100vw;

    .upper-nav {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 15px;
        font-family: "Poppins";
        padding-left: 100px;

        .nav-link {
            text-decoration: none;
            font-size: 12px;
            color: black;
        }
    }

    .lower-nav {
        color: white;
        display: flex;
        align-items: center;
        gap: 3rem;
        padding: 15px;
        font-family: "Poppins";
        padding-left: 100px;
        padding-right: 100px;
        height: 100px;
        background-color: #205375;
        h2 {
            margin: 0;
        }

        .nav-link {
            text-decoration: none;
            font-size: 20px;
            color: white;
        }

        .add-to-cart {
            border-radius: 50px;
            padding: 15px;
            border: 1px solid #ccc;
            cursor: pointer;
            outline: none;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;

            img {
                height: 16px;
                width: 16px;
                align-self: center;
            }
        }
    }
}