.nav-bar {
    width: 100vw;

    .upper-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // gap: 2rem;
        padding: 15px 100px;
        background-color: #F9961F;

        .left{
            display: flex;
            align-items: center;
            gap: 2rem;
        }
        
        .nav-link {
            text-decoration: none;
            font-size: 1rem;
            color: #573103;
            font-weight: 500;
            text-transform: uppercase;

            &:hover {
                text-decoration: underline;
            }
        }

        .login{
            
            span{
                margin-right: 10px;
            }

            background-color: #171717;
            color: #F9961F;
            padding: 5px 10px;
            border-radius: 500px;
            font-weight: 500;
            text-decoration: none;
            border: none;

            &:hover {
                text-decoration: underline;
            }
        }

        .profile{
            display: flex;
            align-items: center;
            // justify-content: space-between;
            // background-color: #171717;
            color: #F9961F;
            border-radius: 50px;
            font-weight: 500;
            text-decoration: none;
            border: none;
            
            img{
                width: 30px;
                height: 30px;
                border-radius: 100px;
                margin-right: 10px;
                // border: 1px solid white;
            }

            p{
                margin: 0;
                font-weight: 500;
                font-size: 1rem;
                text-transform: uppercase;
                color: #171717;
            }

            .logout{
                background-color: transparent;
                color: #171717;
                padding: 5px 10px;
                border-radius: 500px;
                font-weight: 500;
                text-decoration: none;
                border: none;
                margin-left: 10px;

                &:hover {
                    text-decoration: underline;
                    background-color: #171717;
                    color: #F9961F;
                }
            }
        }
    }

    .lower-nav {
        color: white;
        display: flex;
        align-items: center;
        gap: 3rem;
        padding: 20px;
        font-family: "Poppins";
        padding-left: 100px;
        padding-right: 100px;
        // height: 100px;
        background-color: #171717;

        h2 {
            margin: 0;
            // font-family: 'Cooper Black';
            color: #ededed;
            font-weight: 700;
            text-transform: uppercase;
        }

        .nav-link {
            text-decoration: none;
            font-size: 20px;
            color: white;
            padding: 5px 10px;
            border-radius: 10px;

            &:hover {
                background-color: #F9961F;
                border-radius: 10px;
            }
        }

        .add-to-cart {
            position: relative;
            /* Set the button to relative for absolute positioning of the badge */
            border-radius: 50px;
            padding: 15px;
            border: none;
            cursor: pointer;
            outline: none;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            background-color: #ffffffe2;
        }

        .add-to-cart img {
            height: 20px;
            width: 20px;
            align-self: center;
        }

        .notification-badge {
            position: absolute;
            /* Position the badge absolutely */
            top: -5px;
            /* Adjust this value to position it above the icon */
            right: -5px;
            /* Adjust this value to position it to the right */
            background-color: red;
            /* Background color for the badge */
            color: white;
            /* Text color */
            border-radius: 50%;
            /* Make it circular */
            width: 20px;
            /* Width of the badge */
            height: 20px;
            /* Height of the badge */
            display: flex;
            /* Center the text */
            align-items: center;
            /* Center vertically */
            justify-content: center;
            /* Center horizontally */
            font-size: 12px;
            /* Font size */
            font-weight: bold;
            /* Bold text */
        }
    }
}

@media screen and (max-width: 768px) {
    .nav-bar {
        .upper-nav {
            padding-left: 30px;
            padding-right: 30px;

            .nav-link {
                font-size: .6rem;
            }

            .login {

               font-size: 0.6rem;
            }

            .profile {
                

                img {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                    // border: 1px solid white;
                }

                p {
                    display: none;
                }

                .logout {
                    background-color: transparent;
                    color: #171717;
                    padding: 5px;
                    border-radius: 500px;
                    font-weight: 500;
                    text-decoration: none;
                    border: none;
                    margin-left: 5px;

                    &:hover {
                        text-decoration: underline;
                        background-color: #171717;
                        color: #F9961F;
                    }
                }
            }
        }

        .lower-nav {
            padding-left: 30px;
            padding-right: 30px;
            gap: 1rem;

            h2 {
                font-size: 16px;
            }

            .nav-link {
                font-size: 10px;
            }

            .add-to-cart {
                padding: 10px;

                img {
                    height: 12px;
                    width: 12px;
                }
            }
        }
    }
}