$bg-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

.bike-builder-container {
    height: 100%;

    .bike-types-container{
        height: 100%;
        background-color: #2E2E2E;

        .header{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 3rem 0;

            h4{
                font-weight: 700;
                text-transform: uppercase;
                color: white;
            }
        }

        .types{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            /* 3 equal columns */
            gap: 10px;
            padding: 0 5rem;
            
            .type{
                flex: 1;
                height: 350px;
                background-color: rgba(255, 255, 255, 0.375);
                border: 2px solid #525252;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .image {
                    // background-color: rgb(242, 242, 242);
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    padding: 17px;
            
                    img {
                        max-width: 100%;
                        max-height: 100%;
                        filter: grayscale(100%);
                        object-fit: contain;
                    }

                }
                p{
                    text-transform: uppercase;
                    font-size: 1.1rem;
                    color: white;
                    font-weight: 600;
                }

                &:hover{
                    border: 5px solid #F9961F;
                    text-decoration: underline;

                    .image img{
                        filter: none;
                    }
                }
            }
        }
    }

    .budget-container {
        background-color: #2E2E2E;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .budget-content {
            background-color: #525252;
            width: 100%;
            height: 100%;
            max-width: 1000px;
            max-height: 600px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            position: relative;

            img {
                position: absolute;
                top: 30px;
                left: 30px;
                border: none;
                height: 30px;
                width: 30px;
                cursor: pointer;
            }


            .content {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: center;

                label {
                    font-size: 18px;
                    color: white;
                    display: block;
                    margin-bottom: 10px;
                    align-self: center;
                }

                input {

                    padding: 10px;
                    font-size: 16px;
                    margin-bottom: 20px;
                    border: none;
                    border-radius: 5px;
                    width: 500px;
                    align-self: center;
                }

                .btn-1,
                .btn-2 {
                    height: 200px;
                    width: 500px;
                    font-size: 16px;
                    background-color: #2E2E2E;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                    margin: 20px;

                    &:hover {
                        background-color: #F9961F;
                        color: white;
                    }
                }

                .btn-2 {
                    height: 50px;
                    margin: 0;
                    width: 500px;
                }

            }

        }

    }

    .builder-container {
        height: 100%;


        .bike-parts-sidebar {
            width: 350px;
            height: 100%;
            display: flex;
            flex-direction: column;

            .upper-container {
                background-color: #2E2E2E;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                border-bottom: solid 1px white;

                .back-button {
                    align-self: flex-start;
                    color: white;
                    cursor: pointer;
                    margin-left: 20px;
                    font-size: 12px;

                    img {
                        height: 24px;
                        width: 24px;
                    }
                }

                .part-title {
                    color: white;
                }

                .btn-container {
                    button {
                        height: 35px;
                        width: 100px;
                        margin: 15px;
                        border-radius: 50px;
                        border: none;
                        cursor: pointer;
                        font-size: 12px;
                    }

                    .btn-1 {
                        background-color: #D9D9D9;
                    }

                    .btn-2 {
                        background-color: #F9961F;
                    }
                }
            }

            .lower-container {
                background-color: #2E2E2E;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 5px;
                overflow: hidden;

                .parts-container {
                    // border: 1px solid white;
                    background-color: #2E2E2E;
                    border: none;
                    width: 100%;
                    height: 100%;

                    padding: 15px 15px 0 15px;
                    scrollbar-color: #888 #2E2E2E;
                    scrollbar-width: thin;
                    display: flex;
                    flex-direction: column;

                    .sort-container {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 20px;
                        height: auto;

                        .sort-title {
                            color: white;
                            margin-right: 10px;
                            font-size: 14px;
                            font-weight: 200;
                        }

                        .btn {
                            width: 100px;
                            padding: 3px;
                            background-color: #2E2E2E;
                            border: 1px solid white;
                            border-radius: 5px;
                            cursor: pointer;
                            outline: none;
                            transition: background-color 0.2s ease, border-color 0.2s ease;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

                            &:hover,
                            &:focus {
                                background-color: #2E2E2E;
                                border-color: white;
                            }

                            &:active {
                                background-color: #e6e6e6;
                            }

                            img {
                                height: 16px;
                                width: 16px;
                                filter: brightness(0) invert(1);
                            }
                        }
                    }

                    .loading {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                    }

                    .parts-cards {
                        flex-grow: 1;
                        overflow-y: auto;
                        display: flex;
                        flex-direction: column;
                        scrollbar-width: thin;
                        cursor: pointer;

                        .parts-card {
                            background-color: white;
                            border-radius: 20px;
                            width: 100%;
                            height: auto;
                            margin-bottom: 15px;
                            padding: 20px;

                            .item-image {
                                border-radius: 5px;
                                height: 150px;
                                padding: 15px;
                                margin-bottom: 15px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                }

                                p {
                                    width: 100%;
                                    text-align: center;
                                }
                            }

                            .item-name {
                                display: flex;
                                align-content: center;
                                justify-content: center;
                                font-size: 20px !important;
                                font-weight: 500;
                                padding: 5px 0;
                                border-bottom: solid 1px #D9D9D9;
                                margin: 0 !important;
                                text-align: center;

                                .item-price-1 {
                                    display: none;
                                }
                            }

                            .item-price {
                                display: flex;
                                align-items: center;
                                text-align: center;
                                justify-content: center;
                                font-size: 16px !important;
                                font-weight: 300;
                                padding: 10px;
                                margin: 0 auto !important;
                            }

                            .accordion {
                                margin-bottom: 30px;

                                .accordion-body {
                                    padding: 20px;

                                    .specs-container {
                                        margin-bottom: 10px;
                                        padding: 15px;
                                        font-size: 14px;
                                        border: solid 1px #dee2e6;
                                    }
                                }
                            }

                            .item-name {
                                margin-bottom: 15px;
                                font-size: 20px;
                            }

                            .item-price {
                                margin-bottom: 20px;
                                font-size: 20px;
                            }

                            .add-to-build {
                                background-color: #2E2E2E;
                                color: white;
                                height: 40px;
                                width: 100%;
                                border-radius: 5px;
                                border: none;
                                cursor: pointer;

                            }

                            &:hover .item-image {
                                border: 5px solid #F9961F;
                                cursor: pointer;
                            }
                        }
                    }

                    .modal-content {
                        .modal-image {
                            height: 65% !important;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }

                .finalize-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                    padding: 20px;

                    .content {
                        height: 100%;
                        width: 100%;
                        border: solid 1px white;
                        border-radius: 20px;
                        align-content: center;
                        color: white;
                        padding: 50px;
                    }
                }

            }
        }

        .bike-content {
            height: 100%;
            width: calc(100vw - 350px);
            background-color: #F0F0F0;

            .left-container {
                height: 100%;
                width: 70%;
                background-color: #525252;
                display: flex;
                flex-direction: column;

                .budget-stat-container {
                    height: 25%;

                    .budget {
                        width: 35%;
                        padding: 14px 7px 14px 14px;

                        .content {
                            height: 100%;
                            background-color: #F9961F;
                            border: none;
                            border-radius: 15px;
                            padding: 0px 20px;
                            color: white;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: start;
                            font-weight: 500;

                            .upper {
                                width: 100%;
                                height: auto;
                                border-bottom: solid 1px #D9D9D9;
                                padding: 5px 0px;

                                .price {
                                    height: 100%;
                                    width: 50%;
                                    font-size: 0.9rem;
                                    justify-items: center;
                                    // border: 1px solid red;
                                }
                            }

                            .lower {
                                // height: auto;
                                // margin-top: auto;
                                align-content: end;
                                font-size: 0.9rem;
                                padding: 5px 0px;
                                text-wrap: balance;
                            }

                        }
                    }

                    .message-container {
                        height: 100%;
                        width: 65%;
                        padding: 14px 14px 14px 7px;

                        .content {
                            height: 100%;
                            width: 100%;
                            // border: 1px solid #ccc;
                            border: none;
                            background-color: #2E2E2E;
                            color: white;
                            border-radius: 15px;
                            padding: 10px 15px;
                            font-size: 0.9rem;
                            display: flex;
                            flex-direction: column;
                            // justify-content: space-between;
                            gap: 10px;

                            .upper-text {
                                margin-top: auto;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                text-align: center;
                                // padding: 3px 0;
                            }

                            .lower-text {
                                margin-top: auto;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                /* Arrows and text are spaced evenly */
                                text-align: justify;
                                position: relative;

                                .text-slide {
                                    flex: 1;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    text-align: center;
                                    // line-height: 1.5;
                                    // padding: 0 5px;
                                    /* Add padding to prevent text from touching arrows */
                                }

                                .back-slide,
                                .proceed-slide {
                                    border: none;
                                    background-color: transparent;
                                    cursor: pointer;
                                    filter: invert(1);
                                }

                                .back-slide {
                                    margin-right: 5px;

                                    img {
                                        width: 20px;
                                        height: 20px;
                                    }
                                }

                                .proceed-slide {
                                    margin-left: 5px;

                                    img {
                                        width: 20px;
                                        height: 20px;
                                    }
                                }
                            }

                            .btn-container,
                            .btn-container-2 {
                                margin-top: auto;
                                display: flex;
                                justify-content: space-between;

                                button {
                                    border: none;
                                    text-decoration: underline;
                                    background-color: #2E2E2E;
                                    color: white;
                                    font-weight: 500;
                                    cursor: pointer;
                                    padding: 0;
                                }
                            }

                            .btn-container-2 {
                                justify-content: flex-end;
                            }
                        }
                    }
                }

                .canvas-container {
                    width: 100%;
                    height: 75%;
                    padding: 0 14px 14px 14px;

                    .canvas-content {
                        overflow: hidden;
                        position: relative;
                        width: 100%;
                        height: 100%;
                        border: none;
                        border-radius: 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: white;

                        img {
                            position: absolute;
                            top: 30px;
                            right: 30px;
                            width: 24px;
                            height: 24px;
                            z-index: 10;
                            cursor: pointer;
                        }

                        .step-progress-bar {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            bottom: 20px;
                            left: 50%;
                            transform: translateX(-50%);
                        }

                        .step {
                            display: flex;
                            align-items: center;
                        }

                        .oblong {
                            width: 65px;
                            height: 15px;
                            border-radius: 30px;
                            border: 2px solid #f89728;
                            background-color: transparent;
                            margin: 0 10px;
                            transition: background-color 0.3s ease, border-color 0.3s ease;
                        }

                        .step.active .oblong {
                            background-color: #f89728;
                            border-color: #f89728;
                        }

                    }

                }

                .builder-nav {
                    display: none;
                }
            }

            .right-container {
                height: 100%;
                width: 30%;
                background-color: #525252;
                display: flex;
                flex-direction: column;

                .guide-container {
                    padding: 14px 14px 0 0;
                    height: 33%;

                    .content-container {
                        height: 100%;
                        border: none;
                        background-color: white;
                        border-radius: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;


                        img {
                            border-radius: 20px;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                    }
                }

                .summary-container {
                    padding: 10px;
                    margin-right: 14px;
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    border-radius: 15px 15px 0 0;
                    background-color: white;
                    overflow: hidden;
                    margin-top: 14px;

                    .content-container {
                        height: auto;
                        border: none;
                        background-color: white;
                        padding: 10px 10px 0px 10px;
                    }

                    .parts-none {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }

                    .parts-prices {
                        flex-grow: 1;
                        overflow-y: auto;
                        scrollbar-width: thin;

                        .part-price {
                            padding: 5px;

                            p {
                                margin: 0;
                            }

                            .price {
                                height: 100%;
                                border: 1px solid #dee2e6;
                                display: flex;
                                display: flex;
                                flex-direction: column;
                                padding: 10px;
                                font-size: 1rem;
                                border-radius: 9px;
                                font-weight: 700;

                                p:nth-child(2) {
                                    // width: fit-content;
                                    // give this background color fade effect
                                    background-color: #F9961F;
                                    // background: linear-gradient(-90deg, #F9961F 50%, #ffffff00 100%);
                                    border-radius: 5px;
                                    color: white;
                                    // margin-left: auto;
                                    padding: 5px 15px;
                                    text-align: right;
                                }
                            }
                        }
                    }
                }
            }
        }

    }

    .bike-parts-lowerbar {
        display: none;
    }

    .build-summary-container {
        background-color: #2E2E2E;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        overflow-y: auto;
        overflow-y: hidden;
        // scrollbar-width: none;
        // disable scrollbar
        // -ms-overflow-style: none;
        gap: 100px;

        .summary-content {
            background-color: #525252;
            width: 1000px;
            max-width: 100%;
            height: 600px;
            border-radius: 20px;
            padding: 10px;
            // margin-top: 30px;

            .upper-container {
                height: 80%;
                display: flex;

                .left-container {
                    width: 55%;
                    padding: 10px;

                    .content {
                        background-color: white;
                        height: 100%;
                        border-radius: 20px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            // border: 1px solid black;
                        }
                    }

                }

                .right-container {
                    width: 45%;
                    padding: 10px;

                    .title {
                        font-size: 24px;
                        color: white;
                        font-weight: 700;
                        height: 15%;
                        display: flex;
                        align-items: center;
                    }

                    .content {
                        border: solid 2px white;
                        height: 85%;
                        border-radius: 20px;
                        padding: 20px;

                        .parts {
                            border-bottom: solid 1px white;
                            height: 16.66%;
                            color: white;
                            align-content: center;
                            padding: 5px;

                            .iprice {
                                width: 100%;
                                height: 50%;
                                display: flex;
                                align-items: center;
                            }

                            .iname {
                                width: 100%;
                                height: 50%;
                                display: flex;
                                align-items: center;
                                font-size: 14px;
                                font-weight: 100;
                            }
                        }

                        .parts:last-child {
                            border-bottom: none;
                        }
                    }
                }
            }

            .lower-container {
                height: 20%;
                display: flex;

                .left-container {
                    width: 55%;
                    padding: 10px;
                    color: white;
                    font-size: 24;
                    align-content: center;

                    .title {
                        font-size: 24px;
                        font-weight: 700;
                    }

                    .tprice {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        p, h4{
                            font-size: 32px;
                            font-weight: 700;
                            margin: 0;
                        }

                        button{
                            height: 40px;
                            width: 50px;
                            background-color: #f9971f;
                            color: white;
                            border: none;
                            border-radius: 100px;
                            cursor: pointer;
                            font-size: 16px;
                        }
                    }
                }

                .right-container {
                    width: 45%;
                    padding: 10px;
                    display: flex;
                    align-items: end;
                    justify-content: space-between;

                    .back-button {
                        // border: 1px solid black;
                        margin-bottom: 10px;

                        img {
                            cursor: pointer;
                        }
                    }

                    .btns {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                    }

                    h4 {
                        font-size: 32px;
                        font-weight: 700;
                        margin: 0;
                        color: white;
                    }

                    .add-to-cart {
                        height: 50px;
                        width: 360px;
                        padding: 10px;
                        border: none;
                        border-radius: 10px;
                        background-color: #F9961F;
                        color: white;

                    }

                    .new-build {
                        height: 50px;
                        width: 360px;
                        padding: 10px;
                        border: none;
                        border-radius: 10px;
                        // background-color: #F9961F;
                        background-color: #2E2E2E;
                        color: white;

                    }
                }
            }
        }

        .summary-content-invisible {
            // display: none;
            visibility: visible;
            background-color: #525252;
            width: 1000px;
            max-width: 100%;
            height: 600px;
            border-radius: 20px;
            padding: 10px;

            .upper-container {
                height: 80%;
                display: flex;

                .left-container {
                    width: 55%;
                    padding: 10px;

                    .content {
                        background-color: white;
                        height: 100%;
                        border-radius: 20px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            // border: 1px solid black;
                        }
                    }

                }

                .right-container {
                    width: 45%;
                    padding: 10px;

                    .title {
                        font-size: 24px;
                        color: white;
                        font-weight: 700;
                        height: 15%;
                        display: flex;
                        align-items: center;
                    }

                    .content {
                        border: solid 2px white;
                        height: 85%;
                        border-radius: 20px;
                        padding: 20px;

                        .parts {
                            border-bottom: solid 1px white;
                            height: 16.66%;
                            color: white;
                            align-content: center;
                            padding: 5px;

                            .iprice {
                                width: 100%;
                                height: 50%;
                                display: flex;
                                align-items: center;
                            }

                            .iname {
                                width: 100%;
                                height: 50%;
                                display: flex;
                                align-items: center;
                                font-size: 14px;
                                font-weight: 100;
                            }
                        }

                        .parts:last-child {
                            border-bottom: none;
                        }
                    }
                }
            }

            .lower-container {
                height: 20%;
                display: flex;

                .left-container {
                    width: 55%;
                    padding: 10px;
                    color: white;
                    font-size: 24;
                    align-content: center;

                    .title {
                        font-size: 24px;
                        font-weight: 700;
                    }

                    .tprice {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        p, h4{
                            font-size: 32px;
                            font-weight: 700;
                            margin: 0;
                        }

                        button{
                            height: 40px;
                            width: 120px;
                            background-color: #F9961F;
                            color: white;
                            border: none;
                            border-radius: 10px;
                            cursor: pointer;
                            font-size: 16px;
                        }
                    }
                }

                .right-container {
                    width: 45%;
                    padding: 10px;
                    display: flex;
                    align-items: end;
                    justify-content: space-between;

                    .back-button {
                        // border: 1px solid black;
                        margin-bottom: 10px;
                        // display: none;
                        visibility: hidden;

                        img {
                            cursor: pointer;
                        }
                    }

                    .btns {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                    }

                    span { color: white; text-align: right; }

                    h4 {
                        font-size: 32px;
                        font-weight: 700;
                        margin: 0;
                        color: white;
                        display: flex;
                        // margin-left: auto;
                        // border: 1px solid red;
                        // width: 100%;
                    }

                    .add-to-cart {
                        height: 50px;
                        width: 360px;
                        padding: 10px;
                        border: none;
                        border-radius: 10px;
                        background-color: #F9961F;
                        color: white;

                    }

                    .new-build {
                        height: 50px;
                        width: 360px;
                        padding: 10px;
                        border: none;
                        border-radius: 10px;
                        // background-color: #F9961F;
                        background-color: #2E2E2E;
                        color: white;

                    }
                }
            }
        }
    }
}