.menu-nav {
    display: flex;
    flex-direction: column;
    width: 300px; // Adjust the width as needed
    height: 100dvh; // Full height of the viewport
    background-color: white !important; // Light gray background
    border-right: 1px solid #dee2e6; // Border on the right side
    padding: 15px;

    .nav {
        background-color: white!important; // Light gray background
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;

        .nav-link {
            display: block;
            font-size: 0.9rem;
            font-weight: 500;
            padding: 10px 15px;
            margin: 5px 0;
            color: #2e2e2e; // Dark gray color for text
            text-decoration: none;
            border-radius: 4px; // Rounded corners

            i {
                font-size: 0.9rem;
                margin-right: 10px;
                // border: 1px solid black;
                width: 20px;
                text-align: center;
            }

            &:hover {
                background-color: #e9ecef42; // Light gray on hover
                color: #F9961F; // Blue color on hover
            }

            &.active {
                background-color: #007bff; // Blue background for active link
                color: #ffffff; // White text for active link
            }
        }
    }

    .menu-title-close {
        display: flex;
        justify-content: space-between;
        align-items: center !important;
        padding: 5px;
        color: #2e2e2e; // Dark gray color for text
        border-bottom: 1px solid #dee2e6; // Border at the bottom
        cursor: pointer;

        p:nth-child(1) {
           color: #F9961F !important;
        }
    }

    .logout {
        border-radius: 100px;
        padding: 5px;
        width: 100%;
        background-color: #F9961F;
        color: white;
        border: none;
        margin-top: auto;

        button {
            border: none;
            background-color: transparent;
            width: 100%;
            color: white;
            font-size: 0.8rem;

            &:hover {
                text-decoration: underline; // Light gray on hover
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .menu-nav {
        display: flex;
        flex-direction: column;
        justify-content: row;
        position: absolute;
        animation: menu-nav 0.5s;
    }

    // transition menu-nav
    @keyframes menu-nav {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0);
        }
    }



}